#body{
    display:grid;
    grid-row-gap: 1rem;
    border: 1px solid black;
    align-content: center;
    font-family: Garamond, serif;
}
#top{
    display:flex;
    flex-direction: column;
    row-gap: 3rem;
}
#driver{
    height:auto;
    align-self: center;
}
#logo{
    height: auto;
    align-self: center;
}
#videoSrc{
    max-width: 30%;
    height: auto;
}
#canvas{
    align-self: center;
}
@media screen and (min-width: 601px){
    #description p{
        font-size: 25px;
    }
    #statistics p{
        font-size: 25px;
    }
    #statistics ul li{
        font-size: 25px;
    }
    #driver{
        max-width:30%;
    }
    /* #canvas{
        width: 30%;
        height:30%;
    } */
    #logo{
        max-width: 25%;
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 600px){
    #description p{
        font-size: 20px;
    }
    #statistics p{
        font-size: 20px;
    }
    #statistics ul li{
        font-size: 20px;
    }
    #driver{
        max-width:65%;
    }
    /* #canvas{
        width:65%;
        height: 65%;
    } */
    #logo{
        max-width: 30%;
    }
    h1{
        font-size: 25px;
    }
    #videoSrc{
        max-width: 50%;
        height: auto;
    }
}