/* html{
    box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;} */
body{
    font-family: Garamond, serif;
}
p{
    color: black;
}
.driver:hover{
    text-decoration: underline;
}
#albon figure img:hover,#kvyat figure img:hover,#grosjean figure img:hover ,#magnussen figure img:hover{
    filter: grayscale(1);
}
#hamilton figure img:hover{
    filter: brightness(1.5)  saturate(2) ;
}
#bottas figure img:hover{
    filter: brightness(1.85) saturate(0.49) ;
}
#verstappen figure img:hover{
    filter: brightness(1.71) hue-rotate(1deg) saturate(1.35) sepia(0.35) ;
}
figcaption{
    color:black;
}
.driverList{
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.driver{
    box-sizing: content-box;
    border: 3px solid;
    display: grid;
    align-content: center;
    
}
.teamDesc{
    display: flex;
    align-self: center;
    justify-content: center;
}
.teamDesc p{
    font-size: 1vw;
}

.logo_responsive{
    max-width: 50%;
    height: auto;
}
.driver_responsive{
    max-width: 80%;
    height: auto;
}

.mercedes{
    background-color: #00D2BE;
    border-color: #25b9aa;
}
.ferrari{
    background-color: #C00000;
    border-color: #a72121;
}
.redbull{
    background-color:#0600EF;
    border-color: #312bd6;
}
.renault{
    background-color:#FFF500;
    border-color: #e6e02e;
}
.haas{
    background-color: #787878;
    border-color: #917474;
}
.racingpoint{
    background-color: #F596C8;
    border-color: #dc5ba0;
}
.alphatauri{
    background-color: #C8C8C8;
    border-color: #af8c8c;
}
.mclaren{
    background-color: #FF8700;
    border-color: #e6902e;
}
.alfaromeo{
    background-color:#960000;
    border-color: #7d1919;
}
.williams{
    background-color: #0082FA;
    border-color: #2d89e0;
}
#logo{
    width: 20%;
    height: 20%;
    animation: move 2s infinite;
}
#title{
    display:flex;
    flex-direction: column;

}
#modal{
    display:none;
    position:fixed;
    width:60%;
    height:60%;
}
#modal-content{
    position: fixed; 
    z-index: 1; 
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    width: 80%; 
    height: 80%; 
}
#close{
    color: #aaa;
    font-size: 28px;
}
#close:hover,
#close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#map{
    height:100%;
}
#logo{
    align-self: right;
}
#titleText{
    align-self: center;
}
@keyframes move{
    0% {
        transform: translateX(75%) rotateY(0deg);
      }
      49% {
        transform: translateX(375%) rotateY(0deg);
      }
      50% {
        transform: translateX(375%) rotateY(180deg);
      }
      100% {
        transform: translateX(75%) rotateY(180deg);
      }
}

@media screen and (min-width: 601px){
    .driver figure figcaption{
        font-size: 25px;
    }
}
@media screen and (max-width: 600px){
    .driver figure figcaption{
        font-size: 20px;
    }
}